.example-card {
  max-width: 800px;
}

.example-header-image {
  background-image: url("https://e7.pngegg.com/pngimages/799/987/png-clipart-computer-icons-avatar-icon-design-avatar-heroes-computer-wallpaper-thumbnail.png");
  background-size: cover;
}
